@font-face {
    font-family: "Satoshi";
    src: url("https://assets.guns.lol/fonts/X6XYTKIVDUW7GZTZPZNN4EUM5KH54KHF.woff2")
        format("woff2");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: HelveticaNowText;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url(/fonts/HelveticaNowText-Regular.woff2) format("woff2"),
        url(/fonts/HelveticaNowText-Regular.woff) format("woff");
}
@font-face {
    font-family: HelveticaNowText;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url(/fonts/HelveticaNowText-Medium.woff2) format("woff2"),
        url(/fonts/HelveticaNowText-Medium.woff) format("woff");
}
@font-face {
    font-family: HelveticaNowText;
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url(/fonts/HelveticaNowText-Bold.woff2) format("woff2"),
        url(/fonts/HelveticaNowText-Bold.woff) format("woff");
}
@font-face {
    font-family: Druk Wide;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url(/fonts/DrukWide-Medium.woff2) format("woff2");
}
@font-face {
    font-family: Druk Wide;
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url(/fonts/DrukWide-Bold.woff2) format("woff2");
}
@font-face {
    font-family: Clash Display;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url(/fonts/ClashDisplay-Medium.woff2) format("woff2"),
        url(/fonts/ClashDisplay-Medium.woff) format("woff");
}
@font-face {
    font-family: Clash Display;
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    src: url(/fonts/ClashDisplay-Semibold.woff2) format("woff2"),
        url(/fonts/ClashDisplay-Semibold.woff) format("woff");
}

::selection {
    background: var(--selectionColor);
    color: var(--selectionTextColor);
    text-shadow: none;
}

html,
body {
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #0a0a0a;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

h1 {
    color: var(--userPrimaryColor);
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 39.5px;
}

h4 {
    color: var(--userSecondaryColor);
    text-decoration: none;
    font-family: var(--primaryFont);
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0%;
}

a {
    color: var(--userPrimaryColor);
    text-decoration: none;
    transition: color 0.2s ease 0s;
}

p {
    color: var(--userPrimaryColor);
    text-decoration: none;
    font-family: var(--primaryFont);
}

.sticky {
    top: 0;
}
@media (min-width: 1024px) {
    .sticky {
        position: sticky;
        top: 4rem;
    }
}

.liquid-glass {
    border: 2px solid hsl(0, 0%, 100%, 0.3);
    box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.3);
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-trigger {
    display: flex;
}

.tooltip-bubble {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    transform-origin: bottom center;
    background-color: #2b2b2b;
    color: #fafafa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: var(--secondaryFont);
    font-size: 0.875rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.625rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transition: transform 0.15s ease-out, opacity 0.15s ease-in;
    z-index: 10;
}

.tooltip-bubble.visible {
    background-color: hsla(0, 0%, 0%, 0.5);
    cursor: text;
    pointer-events: all;
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.background-video {
    bottom: 0;
    height: 100vh;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.main-container {
    background-position: 50%;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

.flex-main-container {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
}
@media (min-width: 1024px) {
    .flex-main-container {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.flex-main-container-wrap-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1536px;
    background-color: var(--containerColor);
}
@media (min-width: 1024px) {
    .flex-main-container-wrap-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: transparent;
    }
}

.flex-main-container-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1536px;
    background-color: var(--containerColor);
    backdrop-filter: blur(var(--containerBlur));
}
@media (min-width: 1024px) {
    .flex-main-container-wrap {
        backdrop-filter: unset;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: transparent;
    }
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}
@media (min-width: 1024px) {
    .left {
        max-width: 32rem;
    }
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-card-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    width: 100%;
}
@media (min-width: 1024px) {
    .flex-card-container {
        gap: 15px;
    }
}

.card {
    background-color: transparent;
    backdrop-filter: 0;
    border-radius: 0;
    background-origin: border-box;
    box-sizing: border-box;
    padding: var(--containerPadding);
    width: 100%;
    transition: opacity 1s, margin-bottom 0.6s;
    margin-bottom: 0;
    opacity: 1;
}
@media (min-width: 1024px) {
    .card {
        background-color: var(--containerColor);
        backdrop-filter: blur(var(--containerBlur));
        border-radius: var(--containerRadius);
    }
}

.card-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-card {
    overflow: hidden;
    padding: 0%;
}

.user-banner {
    width: 100%;
    height: 100%;
    color: transparent;
    object-fit: cover;
    background-color: #374151;
    background-position: center;
    background-repeat: no-repeat;
}

.user-image-container {
    position: relative;
    flex-shrink: 0;
}

.user-profile-picture {
    color: transparent;
    height: 11rem;
    width: 11rem;
    border-radius: 9999px;
    background-color: #374151;
    object-fit: cover;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    margin-top: -5rem;
}

.username-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.username {
    font-family: var(--primaryFont);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .username {
        font-size: 1.875rem;
    }
}

.location-container {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.25rem;
    font-size: 0.875rem;
    color: var(--userSecondaryColor);
}

.location-container-span {
    display: inline-flex;
    align-items: center;
    gap: 0.375rem;
}

.flag {
    color: transparent;
    height: 0.75rem;
    width: 1rem;
    border-radius: 0.125rem;
}

.user-informations {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}
@media (min-width: 640px) {
    .user-informations {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media (min-width: 1024px) {
    .user-informations {
        align-items: flex-start;
        padding-bottom: 1.5rem;
        text-align: left;
    }
}

.discord-card-container {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    margin-top: 10px;
}

.discord-card-layout {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding: 10px 0;
    white-space: nowrap;
}
/* @media (min-width: 1024px) {
    .discord-layout {
        margin-right: 20%;
    }
} */

.discord-card {
    display: flex;
    padding: 10px;
    background-color: rgba(252, 232, 232, 0.07);
    border: 2px solid rgba(252, 232, 232, 0.05);
    border-radius: 25px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.discord-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 100%;
}

.discord-icon-container {
    display: flex;
}

.discord-icon-container img:first-child {
    border: 2px solid rgba(54, 22, 22, 0.15);
    border-radius: 50%;
    height: 70px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 70px;
}

.discord-icon-layout {
    display: flex;
    position: relative;
}

.discord-icon-status {
    bottom: 4px;
    height: 17px;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    right: 4px;
    width: 17px;
}

.discord-infos-container {
    display: flex;
    max-width: 80%;
}

.discord-infos-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 4px;
}

.discord-infos-layout h3 {
    font-family: var(--secondaryFont);
    color: var(--userPrimaryColor);
    font-weight: 300;
    font-size: 13.5px;
    margin-right: 2px;
    margin: 0;
    max-width: 100%;
}

.discord-infos-user-container {
    max-width: fit-content;
    align-items: center;
    display: flex;
}

.discord-infos-user-container span {
    font-weight: 550;
    font-size: 18.5px;
    font-family: var(--secondaryFont);
    color: var(--userPrimaryColor);
}

.discord-infos-user-guild-tag {
    align-items: center;
    background-color: rgba(252, 232, 232, 0.08);
    border: 2px solid rgba(252, 232, 232, 0.04);
    border-radius: 8px;
    display: flex;
    gap: 6px;
    margin-left: 6px;
    padding: 1px 4px;
}

.discord-infos-user-guild-tag:empty {
    display: none;
}

.discord-infos-user-guild-tag img {
    height: 16px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 16px;
}

.discord-infos-user-guild-tag span {
    color: var(--userPrimaryColor);
    font-size: 12px;
    margin: 0;
}

.discord-badge-container {
    height: 18px;
    margin-left: 5px;
    align-items: center;
    background-color: rgba(43, 43, 43, 0.08);
    border: 2px solid rgba(43, 43, 43, 0.04);
    border-radius: 25px;
    display: flex;
    gap: 5.5px;
    justify-content: center;
    padding: 6px 10px;
}

.discord-badge-icon-container {
    display: flex;
    position: relative;
}

.discord-badge-icon-container svg {
    font-size: 18px;
}

.discord-badge-verified {
    cursor: default;
    color: #008ada;
    filter: drop-shadow(0 0 2.5px #008ada);
}

.social-medias-container {
    margin-top: 1rem;
    width: 100%;
}
.social-medias-container > * + * {
    margin-top: 1rem;
}
@media (min-width: 640px) {
    .social-medias-container {
        max-width: 36rem;
    }
}

.social-medias-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 0.25rem;
}
@media (min-width: 1024px) {
    .social-medias-layout {
        justify-content: flex-start;
    }
}

.icon-container svg {
    font-size: 32px;
    transition: 0.3s;
    color: var(--userSecondaryColor);
    filter: drop-shadow(var(--userSecondaryColor) 1px 0 4px);
}
.icon-container svg:hover {
    transform: scale(1.1);
}
.icon-container a {
    display: flex;
}

.right-container {
    background-color: transparent;
    backdrop-filter: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    background-origin: border-box;
    box-sizing: border-box;
    padding: var(--containerPadding);
    padding-top: 2rem;
    width: 100%;
    gap: 2rem;
    transition: opacity 1s, margin-bottom 0.6s;
    margin-bottom: 0;
    opacity: 1;
    pointer-events: all;
}
@media (min-width: 640px) {
    .right-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
@media (min-width: 1024px) {
    .right-container {
        background-color: var(--containerColor);
        backdrop-filter: blur(var(--containerBlur));
        border-radius: var(--containerRadius);
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

.flex-scroll-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.flex-scroll-container::-webkit-scrollbar {
    display: none;
}

.group {
    position: relative;
    display: inline-flex;
}

.group-button {
    position: relative;
    z-index: 10;
    display: inline-flex;
    height: 2rem;
    flex-shrink: 0;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-family: var(--primaryFont);
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--userPrimaryColor);
    transition: color 0.2s linear;
}

.group:hover .group-button {
    color: var(--userSecondaryColor);
}

.group-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    transform: scale(0.75);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: transform 0.2s linear, opacity 0.2s linear;
}

.group:hover .group-background {
    transform: scale(1);
    opacity: 1;
}

.cards-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0;
    background-color: var(--containerColor);
    border-radius: 12px;
    padding: 1rem;
    scroll-margin-top: 2rem;
    width: 100%;
    margin-bottom: 0;
    opacity: 1;
}
@media (min-width: 1024px) {
    .cards-container {
        backdrop-filter: blur(var(--containerBlur));
        scroll-margin-top: 4rem;
        padding: 1.5rem;
    }
}

.cards-container-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards-container-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1rem;
    row-gap: 1.5rem;
}
@media (min-width: 768px) {
    .responsive-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@media (min-width: 1024px) {
    .responsive-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media (min-width: 1280px) {
    .responsive-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.item-card {
    background-color: transparent;
    backdrop-filter: 0;
    position: relative;
    touch-action: manipulation;
    cursor: pointer;
    transition: opacity 1s, margin-bottom 0.6s;
}

.item-background {
    position: relative;
    background-color: color-mix(in srgb, var(--containerColor) 80%, black 20%);
    backdrop-filter: blur(var(--containerBlur));
    padding: 1rem;
    transition: background-color 150ms ease-in-out;
    border-radius: 8px;
}
.item-card:hover .item-background {
    background-color: rgba(0, 0, 0, 0.75);
}

.item-image {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    border-radius: var(--containerRadius);
    object-fit: contain;
}

.record-icon {
    pointer-events: none;
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.75rem;
    width: 1.75rem;

    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.2);

    backdrop-filter: blur(8px);
    transition: background-color 150ms ease-in-out,
        border-color 150ms ease-in-out;
}

.item-card:hover .record-icon {
    border-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
}

.arrow {
    color: rgb(244, 244, 245);
    height: 1rem;
    width: 1rem;
    flex-shrink: 0;
}

.item-category {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0.5rem;
    color: var(--userAccentuationColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.item-name {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    font-weight: 700;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2;
}

.media-player-card-container {
    width: 100%;
    padding: 0;
    background-origin: border-box;
    box-sizing: border-box;
}
@media (min-width: 640px) {
    .media-player-card-container {
        padding: 0 1.5rem;
    }
}
@media (min-width: 1024px) {
    .media-player-card-container {
        padding: 0;
    }
}

.media-player-card {
    backdrop-filter: 0;
    background-origin: border-box;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 12px;
    background-color: var(--containerColor);
    width: 100%;
    transition: opacity 1s, margin-bottom 0.6s;
    margin-bottom: 0;
    opacity: 1;
}
@media (min-width: 1024px) {
    .media-player-card {
        background-color: var(--containerColor);
        backdrop-filter: blur(var(--containerBlur));
        border-radius: var(--containerRadius);
    }
}

.media-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    position: relative;
}

.track-image {
    height: 65px;
    min-width: 65px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 65px;
    border-radius: calc(var(--containerRadius) - 10px);
}

.track-infos {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.track-name {
    font-family: var(--secondaryFont);
    color: var(--userPrimaryColor);
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.track-status {
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.track-time-container {
    gap: 9px;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.track-time {
    font-family: var(--secondaryFont);
    color: var(--controlTextColor);
    font-weight: 400;
    font-size: 16.5px;
}

.track-progress-bar {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
}

.track-progress-bar-full {
    border-radius: 15px;
    height: 2px;
    position: absolute;
    background: var(--progessBarFull);
    width: 100%;
}

.track-progress-bar-current {
    background: var(--progessBarPlaying);
    z-index: 999;
    border-radius: 15px;
    height: 2px;
    position: absolute;
}

.track-commands-container {
    align-items: center;
    display: flex;
    gap: 2px;
    flex-direction: row;
}

.track-command-skip {
    cursor: pointer;
    display: flex;
    color: var(--controlButtonsOther);
    font-size: 26px;
}

.track-command-play-pause {
    cursor: pointer;
    display: flex;
}

.track-command-play-pause svg {
    color: var(--userPrimaryColor);
    font-size: 34px;
}
